# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Proj3\Socket.io-chat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
